* {
	box-sizing: border-box;
}

html {
	font-family: "Helvetica Neue", "sans-serif";
	margin: 0;
}

nav {
	text-transform: uppercase;
}

.custNav {
	width: 100%;
	overflow: auto;
	height: 40px;
	color: gray;
	font-size: 12px;
	font-weight: 700;
}

.custNav div {
	padding: 10px;
	float: left;
}

.custNav ul, .storeNav ul {
	list-style-type: none;
	overflow: auto;
	padding: 0;
	margin: 0;
}

.custNav li {
	width: auto;
	float: left;
	padding-right: 10px;
}

.custNav .navBorder {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

nav form {
	float: right;
	padding: 10px;
}

nav input {
	border: 0;
	background-color: white;
}

.storeNav {
	width: 100%;
	overflow: auto;
	color: black;
	font-weight: 700;
	height: 200px;
}

.storeNav div {
	padding: 10px;
	float: left;
}

.storeNavBorder {
	padding: 15px;
	border: 3px solid black;
	margin: 10px;
}

.storeNavLink {
	padding: 15px;
	margin: 10px;
	border: 3px solid rgba(0, 0, 0, 0);
}

.storeNavLink:hover {
	border: 3px solid black;
}

