* {
	box-sizing: border-box;
}

html {
	font-family: "Helvetica Neue", "sans-serif";
	font-size: 16px;
	margin: 0;
}

nav {
	text-transform: uppercase;
}

.custNav {
	width: 100%;
	overflow: auto;
	height: 40px;
	color: gray;
	font-size: 0.75rem;
	font-weight: 700;
}

.custNav div {
	padding: 10px;
	float: left;
}

.custNav ul, .storeNav ul {
	list-style-type: none;
	overflow: auto;
	padding: 0;
	margin: 0;
}

.custNav li {
	width: auto;
	float: left;
	padding-right: 10px;
}

.custNav .navBorder {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

nav form {
	float: right;
	padding: 10px;
}

nav input {
	border: 0;
	background-color: white;
}

.storeNav {
	width: 80%;
	margin: 0 auto;
	overflow: auto;
	color: black;
	font-weight: 700;
	padding: 30px 0px;
}

.storeNav div {
	padding: 10px;
	float: left;
}

.storeNavBorder {
	padding: 15px;
	border: 3px solid black;
	margin: 10px;
}

.storeNavLink {
	padding: 15px;
	margin: 10px;
	border: 3px solid rgba(0, 0, 0, 0);
}

.storeNavLink:hover {
	border: 3px solid black;
}

header {
	background-color: gray;
	background-image: url(https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide2_image.jpg);
	background-position: center;
	background-size: 100%;
	height: 300px;
	text-align: center;
	color: white;
	padding: 20px;
}

header h1 {
	color: white;
	font-size: 3rem;
}

header h2 {
	color: white;
	font-size: 2rem;
}

header button {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
	height: 30px;
	width: 100px;
}

header button:hover {
	background-color: blue;
	border: 1px solid blue;
}
